.fossil-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.fossil {
  border: 2px solid black;
  border-radius: 12px;
  width: 450px;
  text-align: center;
  padding: 10px;
}

