.fossil-container, .villager-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.fossil, .villager {
  border: 2px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.fossil > img, .villager > img {
  width: 75%;
}
.fossil > p {
  text-align: left;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
}

h1, h2 {
  text-align: center;
}



